/*
 * FamFamFam Flags from http://flag-sprites.com/
 * modified by Alex Berger <alex@more-onion.com>
 *
 * Files:
 * - flags.css
 * - flags.png
 */

.supporters-flag {
  width: 16px;
  height: 11px;
  background:url(flags.png) no-repeat;
  display: inline-block;

  /* Hide the text. */
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
}
.supporters-no-cc {
  display: none;
}

.supporters-flag-ad {background-position: -16px 0}
.supporters-flag-ae {background-position: -32px 0}
.supporters-flag-af {background-position: -48px 0}
.supporters-flag-ag {background-position: -64px 0}
.supporters-flag-ai {background-position: -80px 0}
.supporters-flag-al {background-position: -96px 0}
.supporters-flag-am {background-position: -112px 0}
.supporters-flag-an {background-position: -128px 0}
.supporters-flag-ao {background-position: -144px 0}
.supporters-flag-ar {background-position: -160px 0}
.supporters-flag-as {background-position: -176px 0}
.supporters-flag-at {background-position: -192px 0}
.supporters-flag-au {background-position: -208px 0}
.supporters-flag-aw {background-position: -224px 0}
.supporters-flag-az {background-position: -240px 0}
.supporters-flag-ba {background-position: 0 -11px}
.supporters-flag-bb {background-position: -16px -11px}
.supporters-flag-bd {background-position: -32px -11px}
.supporters-flag-be {background-position: -48px -11px}
.supporters-flag-bf {background-position: -64px -11px}
.supporters-flag-bg {background-position: -80px -11px}
.supporters-flag-bh {background-position: -96px -11px}
.supporters-flag-bi {background-position: -112px -11px}
.supporters-flag-bj {background-position: -128px -11px}
.supporters-flag-bm {background-position: -144px -11px}
.supporters-flag-bn {background-position: -160px -11px}
.supporters-flag-bo {background-position: -176px -11px}
.supporters-flag-br {background-position: -192px -11px}
.supporters-flag-bs {background-position: -208px -11px}
.supporters-flag-bt {background-position: -224px -11px}
.supporters-flag-bv {background-position: -240px -11px}
.supporters-flag-bw {background-position: 0 -22px}
.supporters-flag-by {background-position: -16px -22px}
.supporters-flag-bz {background-position: -32px -22px}
.supporters-flag-ca {background-position: -48px -22px}
.supporters-flag-catalonia {background-position: -64px -22px}
.supporters-flag-cd {background-position: -80px -22px}
.supporters-flag-cf {background-position: -96px -22px}
.supporters-flag-cg {background-position: -112px -22px}
.supporters-flag-ch {background-position: -128px -22px}
.supporters-flag-ci {background-position: -144px -22px}
.supporters-flag-ck {background-position: -160px -22px}
.supporters-flag-cl {background-position: -176px -22px}
.supporters-flag-cm {background-position: -192px -22px}
.supporters-flag-cn {background-position: -208px -22px}
.supporters-flag-co {background-position: -224px -22px}
.supporters-flag-cr {background-position: -240px -22px}
.supporters-flag-cu {background-position: 0 -33px}
.supporters-flag-cv {background-position: -16px -33px}
.supporters-flag-cw {background-position: -32px -33px}
.supporters-flag-cy {background-position: -48px -33px}
.supporters-flag-cz {background-position: -64px -33px}
.supporters-flag-de {background-position: -80px -33px}
.supporters-flag-dj {background-position: -96px -33px}
.supporters-flag-dk {background-position: -112px -33px}
.supporters-flag-dm {background-position: -128px -33px}
.supporters-flag-do {background-position: -144px -33px}
.supporters-flag-dz {background-position: -160px -33px}
.supporters-flag-ec {background-position: -176px -33px}
.supporters-flag-ee {background-position: -192px -33px}
.supporters-flag-eg {background-position: -208px -33px}
.supporters-flag-eh {background-position: -224px -33px}
.supporters-flag-england {background-position: -240px -33px}
.supporters-flag-er {background-position: 0 -44px}
.supporters-flag-es {background-position: -16px -44px}
.supporters-flag-et {background-position: -32px -44px}
.supporters-flag-eu {background-position: -48px -44px}
.supporters-flag-fi {background-position: -64px -44px}
.supporters-flag-fj {background-position: -80px -44px}
.supporters-flag-fk {background-position: -96px -44px}
.supporters-flag-fm {background-position: -112px -44px}
.supporters-flag-fo {background-position: -128px -44px}
.supporters-flag-fr {background-position: -144px -44px}
.supporters-flag-ga {background-position: -160px -44px}
.supporters-flag-gb {background-position: -176px -44px}
.supporters-flag-gd {background-position: -192px -44px}
.supporters-flag-ge {background-position: -208px -44px}
.supporters-flag-gf {background-position: -224px -44px}
.supporters-flag-gg {background-position: -240px -44px}
.supporters-flag-gh {background-position: 0 -55px}
.supporters-flag-gi {background-position: -16px -55px}
.supporters-flag-gl {background-position: -32px -55px}
.supporters-flag-gm {background-position: -48px -55px}
.supporters-flag-gn {background-position: -64px -55px}
.supporters-flag-gp {background-position: -80px -55px}
.supporters-flag-gq {background-position: -96px -55px}
.supporters-flag-gr {background-position: -112px -55px}
.supporters-flag-gs {background-position: -128px -55px}
.supporters-flag-gt {background-position: -144px -55px}
.supporters-flag-gu {background-position: -160px -55px}
.supporters-flag-gw {background-position: -176px -55px}
.supporters-flag-gy {background-position: -192px -55px}
.supporters-flag-hk {background-position: -208px -55px}
.supporters-flag-hm {background-position: -224px -55px}
.supporters-flag-hn {background-position: -240px -55px}
.supporters-flag-hr {background-position: 0 -66px}
.supporters-flag-ht {background-position: -16px -66px}
.supporters-flag-hu {background-position: -32px -66px}
.supporters-flag-ic {background-position: -48px -66px}
.supporters-flag-id {background-position: -64px -66px}
.supporters-flag-ie {background-position: -80px -66px}
.supporters-flag-il {background-position: -96px -66px}
.supporters-flag-im {background-position: -112px -66px}
.supporters-flag-in {background-position: -128px -66px}
.supporters-flag-io {background-position: -144px -66px}
.supporters-flag-iq {background-position: -160px -66px}
.supporters-flag-ir {background-position: -176px -66px}
.supporters-flag-is {background-position: -192px -66px}
.supporters-flag-it {background-position: -208px -66px}
.supporters-flag-je {background-position: -224px -66px}
.supporters-flag-jm {background-position: -240px -66px}
.supporters-flag-jo {background-position: 0 -77px}
.supporters-flag-jp {background-position: -16px -77px}
.supporters-flag-ke {background-position: -32px -77px}
.supporters-flag-kg {background-position: -48px -77px}
.supporters-flag-kh {background-position: -64px -77px}
.supporters-flag-ki {background-position: -80px -77px}
.supporters-flag-km {background-position: -96px -77px}
.supporters-flag-kn {background-position: -112px -77px}
.supporters-flag-kp {background-position: -128px -77px}
.supporters-flag-kr {background-position: -144px -77px}
.supporters-flag-kurdistan {background-position: -160px -77px}
.supporters-flag-kw {background-position: -176px -77px}
.supporters-flag-ky {background-position: -192px -77px}
.supporters-flag-kz {background-position: -208px -77px}
.supporters-flag-la {background-position: -224px -77px}
.supporters-flag-lb {background-position: -240px -77px}
.supporters-flag-lc {background-position: 0 -88px}
.supporters-flag-li {background-position: -16px -88px}
.supporters-flag-lk {background-position: -32px -88px}
.supporters-flag-lr {background-position: -48px -88px}
.supporters-flag-ls {background-position: -64px -88px}
.supporters-flag-lt {background-position: -80px -88px}
.supporters-flag-lu {background-position: -96px -88px}
.supporters-flag-lv {background-position: -112px -88px}
.supporters-flag-ly {background-position: -128px -88px}
.supporters-flag-ma {background-position: -144px -88px}
.supporters-flag-mc {background-position: -160px -88px}
.supporters-flag-md {background-position: -176px -88px}
.supporters-flag-me {background-position: -192px -88px}
.supporters-flag-mg {background-position: -208px -88px}
.supporters-flag-mh {background-position: -224px -88px}
.supporters-flag-mk {background-position: -240px -88px}
.supporters-flag-ml {background-position: 0 -99px}
.supporters-flag-mm {background-position: -16px -99px}
.supporters-flag-mn {background-position: -32px -99px}
.supporters-flag-mo {background-position: -48px -99px}
.supporters-flag-mp {background-position: -64px -99px}
.supporters-flag-mq {background-position: -80px -99px}
.supporters-flag-mr {background-position: -96px -99px}
.supporters-flag-ms {background-position: -112px -99px}
.supporters-flag-mt {background-position: -128px -99px}
.supporters-flag-mu {background-position: -144px -99px}
.supporters-flag-mv {background-position: -160px -99px}
.supporters-flag-mw {background-position: -176px -99px}
.supporters-flag-mx {background-position: -192px -99px}
.supporters-flag-my {background-position: -208px -99px}
.supporters-flag-mz {background-position: -224px -99px}
.supporters-flag-na {background-position: -240px -99px}
.supporters-flag-nc {background-position: 0 -110px}
.supporters-flag-ne {background-position: -16px -110px}
.supporters-flag-nf {background-position: -32px -110px}
.supporters-flag-ng {background-position: -48px -110px}
.supporters-flag-ni {background-position: -64px -110px}
.supporters-flag-nl {background-position: -80px -110px}
.supporters-flag-no {background-position: -96px -110px}
.supporters-flag-np {background-position: -112px -110px}
.supporters-flag-nr {background-position: -128px -110px}
.supporters-flag-nu {background-position: -144px -110px}
.supporters-flag-nz {background-position: -160px -110px}
.supporters-flag-om {background-position: -176px -110px}
.supporters-flag-pa {background-position: -192px -110px}
.supporters-flag-pe {background-position: -208px -110px}
.supporters-flag-pf {background-position: -224px -110px}
.supporters-flag-pg {background-position: -240px -110px}
.supporters-flag-ph {background-position: 0 -121px}
.supporters-flag-pk {background-position: -16px -121px}
.supporters-flag-pl {background-position: -32px -121px}
.supporters-flag-pm {background-position: -48px -121px}
.supporters-flag-pn {background-position: -64px -121px}
.supporters-flag-pr {background-position: -80px -121px}
.supporters-flag-ps {background-position: -96px -121px}
.supporters-flag-pt {background-position: -112px -121px}
.supporters-flag-pw {background-position: -128px -121px}
.supporters-flag-py {background-position: -144px -121px}
.supporters-flag-qa {background-position: -160px -121px}
.supporters-flag-re {background-position: -176px -121px}
.supporters-flag-ro {background-position: -192px -121px}
.supporters-flag-rs {background-position: -208px -121px}
.supporters-flag-ru {background-position: -224px -121px}
.supporters-flag-rw {background-position: -240px -121px}
.supporters-flag-sa {background-position: 0 -132px}
.supporters-flag-sb {background-position: -16px -132px}
.supporters-flag-sc {background-position: -32px -132px}
.supporters-flag-scotland {background-position: -48px -132px}
.supporters-flag-sd {background-position: -64px -132px}
.supporters-flag-se {background-position: -80px -132px}
.supporters-flag-sg {background-position: -96px -132px}
.supporters-flag-sh {background-position: -112px -132px}
.supporters-flag-si {background-position: -128px -132px}
.supporters-flag-sk {background-position: -144px -132px}
.supporters-flag-sl {background-position: -160px -132px}
.supporters-flag-sm {background-position: -176px -132px}
.supporters-flag-sn {background-position: -192px -132px}
.supporters-flag-so {background-position: -208px -132px}
.supporters-flag-somaliland {background-position: -224px -132px}
.supporters-flag-sr {background-position: -240px -132px}
.supporters-flag-ss {background-position: 0 -143px}
.supporters-flag-st {background-position: -16px -143px}
.supporters-flag-sv {background-position: -32px -143px}
.supporters-flag-sx {background-position: -48px -143px}
.supporters-flag-sy {background-position: -64px -143px}
.supporters-flag-sz {background-position: -80px -143px}
.supporters-flag-tc {background-position: -96px -143px}
.supporters-flag-td {background-position: -112px -143px}
.supporters-flag-tf {background-position: -128px -143px}
.supporters-flag-tg {background-position: -144px -143px}
.supporters-flag-th {background-position: -160px -143px}
.supporters-flag-tj {background-position: -176px -143px}
.supporters-flag-tk {background-position: -192px -143px}
.supporters-flag-tl {background-position: -208px -143px}
.supporters-flag-tm {background-position: -224px -143px}
.supporters-flag-tn {background-position: -240px -143px}
.supporters-flag-to {background-position: 0 -154px}
.supporters-flag-tr {background-position: -16px -154px}
.supporters-flag-tt {background-position: -32px -154px}
.supporters-flag-tv {background-position: -48px -154px}
.supporters-flag-tw {background-position: -64px -154px}
.supporters-flag-tz {background-position: -80px -154px}
.supporters-flag-ua {background-position: -96px -154px}
.supporters-flag-ug {background-position: -112px -154px}
.supporters-flag-um {background-position: -128px -154px}
.supporters-flag-us {background-position: -144px -154px}
.supporters-flag-uy {background-position: -160px -154px}
.supporters-flag-uz {background-position: -176px -154px}
.supporters-flag-va {background-position: -192px -154px}
.supporters-flag-vc {background-position: -208px -154px}
.supporters-flag-ve {background-position: -224px -154px}
.supporters-flag-vg {background-position: -240px -154px}
.supporters-flag-vi {background-position: 0 -165px}
.supporters-flag-vn {background-position: -16px -165px}
.supporters-flag-vu {background-position: -32px -165px}
.supporters-flag-wales {background-position: -48px -165px}
.supporters-flag-wf {background-position: -64px -165px}
.supporters-flag-ws {background-position: -80px -165px}
.supporters-flag-ye {background-position: -96px -165px}
.supporters-flag-yt {background-position: -112px -165px}
.supporters-flag-za {background-position: -128px -165px}
.supporters-flag-zanzibar {background-position: -144px -165px}
.supporters-flag-zm {background-position: -160px -165px}
.supporters-flag-zw {background-position: -176px -165px}
